/* spearker item layout */

.speaker-wrapper {
  width: 318px;
  height: 540px;
  margin: 0 6px 50px 6px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

/* speaker item content */

.speaker {
  height: 100%;
  position: relative;
  cursor: pointer;

  .speaker-profile-img {
      height: 280px;
      background-color: #E8E8E8;
      text-align: center;
      border-radius: 10px 10px 0 0;
      img {
          background-color: white;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
      }
  }

  .speaker-information {
      text-align: left;
      background-color: white;
      padding: 24px 30px;
      .speaker-name {
          font-size: 2rem;
          font-weight: 600;
      }
      .horizontal-bar {
          display: block;
          width: 26px;
          height: 2px;
          margin: 22px 0;
          background-color: #BBBBBB;
      }
      .speaker-belong {
          font-size: 1.3rem;
          font-weight: 300;
      }
  }

  .speaker-role {
      width: 100%;
      padding: 22px 26px;
      background-color: #FAFAFA;
      border-top: 1px solid #F0F0F0;
      border-radius: 0 0 10px 10px;
      text-align: left;

      display: flex;
      justify-content: space-between;

      position: absolute;
      bottom: 0;
      // 공통 스타일
      span {
          padding: 6px 8px;
          margin-right: 3px;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 600;
      }

      .badge-chair {
          background-color: #FFEBAA;
          color: #AA910F;
      }
      .badge-speaker {
          background-color: #D0FBF1;
          color: #14A580;
      }
      .badge-panel {
          background-color: #CDE4FF;
          color: #4476B5;
      }
      
      .btn_wrap {
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 10px;
          height: 10px;
        }
      }
  }
}