<figure class="speaker-wrapper" (click)="detailFn.emit(speaker)">
  <figcaption class="speaker">
    <div class="speaker-profile-img">
      <img [src]="speaker.photoUrl ? speaker.photoUrl : '../../../assets/img/default_lecturer.png'">
    </div>
    <div class="speaker-information">
      <div class="speaker-name">{{speaker.fullName}}</div>
      <div class="horizontal-bar"></div>
      <div class="speaker-belong">{{speaker.company}}</div>
    </div>
    <div class="speaker-role">
      <div class="d-flex">
        <span class="badge-chair" *ngIf="speakerRoles['chairman']">Chair</span>
        <span class="badge-speaker" *ngIf="speakerRoles['speaker']">Speaker</span>
        <span class="badge-panel" *ngIf="speakerRoles['panel']">Panel</span>
      </div>
      <div class="btn_wrap">
        <img src="../../../assets/icons/speaker_detail_btn.svg">
      </div>
    </div>
  </figcaption>
</figure>
