@import '../board.component.scss';

.board-detail {
  .board-item-title {
    .row {
      margin: 0;
      background: var(--white);

      .col {
        padding: 16px;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.7;
      }

      &.admin {
        background: var(--orange);
      }
    }
  }

  .board-item-content {
    padding: 24px;
    background: var(--gray22);

    p {
      margin: 0;
      font-size: 1.3rem;
      line-height: 1.7;
    }
  }

  .board-item-footer {
    padding: 16px;
    background: var(--white);

    .submit {
      display: flex;
      align-items: flex-end;
      padding: 4px 0;

      .submit-btn {
        width: 80px;
        height: 26px;
        padding: 0;
        line-height: 26px;
        font-size: 1.2rem;
        text-align: center;
        color: var(--white);
        background: var(--bluegray);
        border-radius: 0;
        outline: none;
        cursor: pointer;

        &:disabled {
          background: var(--gray25);
        }
      }
    }
  }
}

.board-detail-footer {
  padding: 40px 0;

  .board-btn-wrapper {
    text-align: center;

    .board-btn {
      display: inline-block;
      margin: 0 8px;

      &.navy {
        background: #029380;
      }
    }
  }
}

@media(max-width: 767px) {
  .board-detail {
    .board-item-title {
      .row {
        .col {
          padding: 8px 4px;
          font-size: 1.2rem;
        }
      }
    }

    .board-item-content {
      padding: 16px;

      p {
        font-size: 1.2rem;
      }
    }

    .board-item-footer {
      padding: 16px;


      .submit {
        justify-content: flex-end;
        padding: 4px calc(15px + 2.5%);
      }

      .board-writer-info {
        .row {
          .col {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media(max-width: 595px) {
  .board-detail {
    .board-item-title {
      .row {
        .col {
          font-size: 1.1rem;
        }
      }
    }

    .board-item-content {
      p {
        font-size: 1.1rem;
      }
    }

    .board-item-footer {
      padding: 8px 16px;
    }
  }

  .board-detail-footer {
    padding: 24px 0;

    .board-btn-wrapper {
      .board-btn {
        width: 30%;
        margin: 4px 2px;
      }
    }
  }
}
