footer {
  width: 100%;
  background-color: #e2e2e1;
  color: #5e6269;
  padding: 40px 0;

  .footer-wrapper {
    gap: 40px;
    height: 100%;
  }

  .footer-lt {
    font-weight: 600;
    color: #242424;
  }

  .footer-rt {
    font-weight: 300;
    color: #242424;
    font-size: 14px;
  }
}
