<footer>
  <div class="footer-wrapper d-flex max-1400">
    <div class="footer-lt d-flex flex-column align-self-center">
      <div>
        Korean Diabetes Association
      </div>
      <div>
        Congress Secretariat (Planbear)
      </div>
    </div>
    <div class="footer-rt d-flex align-self-center">
      <p>
        (04146) 101-2104, Lotte Castle President, 109 Mapo-gu, Seoul, 04146, Korea ㅣ <span style="color: skyblue">
          <a href="mailto:diabetes@kams.or.kr" target="_blank">E. diabetes@kams.or.kr</a></span><br>
        (07806) 1101, Wooseoung SB Tower Ⅱ, 220 Gonghang-daero, Gangseo-gu, Seoul, Republic of Korea ㅣ <span
          style="color: skyblue"><a href="mailto:diabetes@kams.or.kr" target="_blank">E.
          diabetes@planbear.co.kr</a></span><br>
        <strong>T.</strong> 02-6734-1011/1012/1013 ㅣ <strong>F.</strong> 02-6734-1009
      </p>
    </div>
  </div>
</footer>
