<header class="fixed-top">
  <div class="personal-top">
    <div class="personal-top-inner">
      <div *ngIf="!user" class="my_menus">
        <a [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
      </div>
      <div *ngIf="user" class="my_menus">
        <a [routerLink]="'/my-page'">MY PAGE</a>
        <a [routerLink]="'/logout'">LOGOUT</a>
      </div>
    </div>
  </div>
  <div class="main-title">
    <div class="main-title-inner" [routerLink]="'/main'">
      <img class="d-none d-lg-inline-block d-xl-inline-block" src="../../../assets/icons/logo_kda.svg">
      <span>제35차 대한당뇨병학회 춘계학술대회</span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">

    <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
      data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false" aria-label="Toggle menu navigation">
      <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenus">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let menu of menus;" [id]="menu.title">
          <ng-container *ngIf="menu.title !== 'Posters (Metaverse)'; else isPoster">
            <a class="nav-link" [routerLink]="menu.router" [routerLinkActive]="'active'"
              [queryParams]="menu.queryParams">
              {{menu.title}}
            </a>
          </ng-container>
          <ng-template #isPoster>
            <a class="nav-link" (click)="openMetaverse()" target="_blank" data-toggle="tooltip"
              data-placement="bottom" data-html="true" title="{{showTooltip(menu.title)}}">{{menu.title}}</a>
          </ng-template>
        </li>

        <li class="nav-item abstract" *ngIf="event && event.abstractUrl && user">
          <a class="nav-link" target="_blank" [href]="event.abstractUrl">
            {{event.abstractName}}
          </a>
        </li>
        <li class="nav-item abstract" *ngIf="user">
          <a class="nav-link" [routerLink]="'/survey'" [routerLinkActive]="'active'">
            설문조사
          </a>
        </li>
        
      </ul>
    </div>

  </nav>
</header>
