$headerHeight: 50px;
$personalTopHeight: 26px;
$mainTitleHeight: 80px;

header {
  background: #FAFAFA;
  border-bottom: 1px solid var(--gray22);
  height: calc($headerHeight + $personalTopHeight + $mainTitleHeight);

  &.not-ie {
    >div {
      opacity: 0;
    }
  }


  .personal-top {
    border-bottom: 1px solid var(--gray22);
    width: 100%;
    height: $personalTopHeight;

    display: flex;
    align-items: center;
    justify-content: center;

    .personal-top-inner {
      width: 100%;
      max-width: 960px;
      padding-left: 4px;
      padding-right: 4px;
      text-align: right;
    }

    .my_menus {
      a {
        color: var(--gray25);
        font-size: 1.2rem;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .main-title {
    height: $mainTitleHeight;
    font-size: 2.5rem;
    background-color: #029380;
    font-weight: 700;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      font-size: 2rem;
    }

    .main-title-inner {
      max-width: 838px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;

      cursor: pointer;
    }

    img {
      position: relative;
      right: 16rem;
    }
  }

  nav {
    min-height: $headerHeight;

    &.navbar {
      padding: 6px 32px;
      justify-content: flex-end;
    }

    .logo_wrap {
      max-width: 180px;
      max-height: $headerHeight;

      display: flex;
      align-items: center;
      padding: 16px;

      cursor: pointer;

      img {
        width: 100%;
      }
    }

    button.navbar-toggler {
      width: 40px;
      height: 32px;
      outline: 0;
    }
  }

  .navbar-collapse {
    justify-content: center;

    ul li.nav-item {
      text-align: center;

      display: flex;
      align-items: center;

      .nav-link {
        padding: 0 2rem;
        padding-top: 1px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--gray25);
        font-size: 1.4rem;

        &.active {
          color: var(--blue6);
        }
      }

      &:hover {
        background: var(--gray7);

        a {
          color: var(--black);
        }
      }

      &.abstract {
        border-radius: 8px;
        margin-left: 14px;
        align-self: auto;
        width: 90px;
        margin-left: 18px !important;

        place-content: center;
        background-color: rgb(62, 193, 171);
        padding-top: 1px;

        .nav-link {
          color: var(--white) !important;
          padding: 0px !important;
          font-size: 1.3rem !important;
        }

        &:hover {
          background-color: rgb(62, 193, 171);
          transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s
        }
      }
    }

    ul li#LIVE .nav-link {
      position: relative;
      color: var(--orange2);
      display: inline-block;

      &::before {
        position: absolute;
        content: '';
        left: 1.3rem;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--orange2);
      }

      &.active {
        color: var(--red);

        &::before {
          background: var(--red);
        }
      }
    }

    ul li#VOD .nav-link {
      color: var(--blue7);

      &.active {
        color: var(--blue1);
      }
    }
  }

  .btn-login {
    color: var(--gray25);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;

    &.active {
      color: var(--gray14);
    }
  }

  .pre-registration {
    margin-right: 40px;
    color: white;
    background-color: rgb(20, 20, 60);
    padding: 12px 15px;
    border-radius: 0.25rem;
  }

  .btn-atndn {
    width: 154px;
    height: 34px;
    color: var(--white);
    border-radius: 11px;
    background: var(--blue5);

    &.d-lg-none {
      width: 100px;
    }
  }

  .my-menus {
    gap: 10px;

    .btn-my-page {
      color: var(--gray14);
      font-size: 1.4rem;
      padding-right: 0px;

      img {
        width: 26px;
        height: 26px;
      }
    }
  }
}

@media (max-width: 1280px) {
  header {
    .abstract {
      margin: 1px;
    }

    .navbar-collapse ul li.nav-item {
      margin-right: 0;

      &>a {
        font-size: 1.4rem;
      }
    }
  }
}
