<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section1">
    <div class="line1">
      <img src="../../../assets/img/e-booth/kda_banner.png">
    </div>

    <div class="dia_line">
      <img src="../../../assets/img/e-booth/booth1.png" (click)="getDetail('626a09fd9ad5c3001221f7aa')">
      <img src="../../../assets/img/e-booth/kda_flag_left.png" class="flag flag1">
      <img src="../../../assets/img/e-booth/kda_flag_right.png" class="flag flag2">
    </div>
  </div>

  <div class="section2">
    <div class="line1">
      <img src="../../../assets/img/e-booth/dia_banner.png">
    </div>
    <div class="line2">
      <img src="../../../assets/img/e-booth/booth2.png" (click)="getDetail('626a0a569ad5c3001221f7ab')">
      <img src="../../../assets/img/e-booth/booth3.png" (click)="getDetail('626a0b0e9ad5c3001221f7ac')">
    </div>
  </div>

  <div class="section3">
    <div class="small_banner_line booth_line_margin">
      <img src="../../../assets/img/e-booth/platinum_banner.png">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth4.png" (click)="getDetail('626b1e309ad5c3001221f7b6')">
      <img src="../../../assets/img/e-booth/booth5.png" (click)="getDetail('6270627eb628290012a26d6d')">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth6.png" (click)="getDetail('62706586b628290012a26d6e')">
      <img src="../../../assets/img/e-booth/booth7.png" (click)="getDetail('62706593b628290012a26d6f')">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth8.png" (click)="getDetail('627065a2b628290012a26d70')">
      <img src="../../../assets/img/e-booth/booth9.png" (click)="getDetail('627065afb628290012a26d71')">
    </div>
  </div>
  
  <div class="section4">
    <div class="small_banner_line booth_line_margin">
      <img src="../../../assets/img/e-booth/gold_banner.png">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth10.png" (click)="getDetail('627065b8b628290012a26d72')">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth11.png" (click)="getDetail('62707511b628290012a26d73')">
      <img src="../../../assets/img/e-booth/booth12.png" (click)="getDetail('62707525b628290012a26d74')">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth13.png" (click)="getDetail('6270758eb628290012a26d75')">
      <img src="../../../assets/img/e-booth/booth14.png" (click)="getDetail('627075aab628290012a26d76')">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth15.png" (click)="getDetail('62707694b628290012a26d77')">
      <img src="../../../assets/img/e-booth/booth16.png" (click)="getDetail('627076a4b628290012a26d78')">
    </div>
  </div>

  <div class="section5">
    <div class="small_banner_line booth_line_margin">
      <img src="../../../assets/img/e-booth/regular_banner.png">
    </div>
    <div class="line4 justy_center">
      <img src="../../../assets/img/e-booth/booth17.png" (click)="getDetail('627076b4b628290012a26d79')">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/booth18.png" (click)="getDetail('627076feb628290012a26d7a')">
      <img src="../../../assets/img/e-booth/booth19.png" (click)="getDetail('6270770fb628290012a26d7b')">
      <img src="../../../assets/img/e-booth/booth20.png" (click)="getDetail('627077c0b628290012a26d7c')">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/booth21.png" (click)="getDetail('6270783eb628290012a26d7d')">
      <img src="../../../assets/img/e-booth/booth22.png" (click)="getDetail('62707900b628290012a26d7e')">
      <img src="../../../assets/img/e-booth/booth23.png" (click)="getDetail('62707909b628290012a26d7f')">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/booth24.png" (click)="getDetail('62707913b628290012a26d80')">
      <img src="../../../assets/img/e-booth/booth25.png" (click)="getDetail('6270791fb628290012a26d81')">
      <img src="../../../assets/img/e-booth/booth26.png" (click)="getDetail('62707928b628290012a26d82')">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/booth27.png" (click)="getDetail('62707931b628290012a26d83')">
      <img src="../../../assets/img/e-booth/booth28.png" (click)="getDetail('6270793cb628290012a26d84')">
      <img src="../../../assets/img/e-booth/booth29.png" (click)="getDetail('62707946b628290012a26d85')">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/booth30.png" (click)="getDetail('62707950b628290012a26d86')">
      <img src="../../../assets/img/e-booth/booth31.png" (click)="getDetail('6270795ab628290012a26d87')">
      <img src="../../../assets/img/e-booth/booth32.png" (click)="getDetail('62707963b628290012a26d88')">
    </div>
  </div>
</div> 

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="modal-booth-detail">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_blank" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>
