.reply {
  width: 100%;
  border: 1px solid var(--gray21);
  flex-direction: column;
  position: relative;
  display: flex;

  // 댓글 헤더
  .reply-header {
    display: flex;
    height: 50px;
    font-size: 16px;
    align-items: center;
    background: var(--gray21);
    color: var(--black);
    padding: 8px 16px;
    font-weight: 500;
  }

  .reply-list {
    height: 100%;

    .reply-history {
      min-height: 500px;
      max-height: 500px;
      overflow-y: scroll;

      .reply-item-container {
        display: flex;
        padding: 4px 12px;
        justify-content: space-between;

        .reply-item-lt {
          display: flex;
          width: 80%;

          .reply-username {
            font-weight: bold;
            min-width: 50px;
            margin-right: 8px;
            word-break: break-all;
          }
        }

        .reply-item-rt {
          display: flex;
          width: fit-content;

          .reply-date {
            width: 100%;
          }
        }
      }
    }
  }

  .reply-form {
    padding: 8px 16px;
    background: var(--gray21);

    label {
      font-size: 1.2rem;
    }

    input {
      padding-left: 0;
      padding-right: 0;
      border: none;
      background: none;

      &::placeholder {
        color: var(--gray24);
      }
    }

    hr {
      margin-top: 2px;
    }

    >div {
      font-size: 1rem;
      ;
      color: var(--gray7);

      .btn-send {
        margin-left: 16px;
        color: var(--white);
        background: #029380;
        border-radius: 4px;
      }
    }
  }
}

@media screen and (max-width: 1014px) {
  .reply {
    width: 100%;

    .reply-list {
      .reply-history {
        min-height: 0;
        height: 300px;
        overflow-y: scroll;

      }
    }
  }
}
