<div class="timetable-wrapper">
  <div class="m-auto">
    <div class="date-item d-flex justify-content-center">
      <button *ngFor="let date of dates; let i = index" [ngClass]="{'active': selectedDate === i}" class="btn
          btn-primary" (click)="setDate(i)">
        {{date.date}}
      </button>
      <button class="btn btn-primary" style="width: 185px;" (click)="openMetaverse()">
        Posters (Metaverse)
      </button>
    </div>
  </div>
  <div class="timetable-templates" id="timeTable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table *ngIf="selectedDate === 0" class="time-table-margin-bottom">
      <colgroup>
        <col style="width:12%;">
        <col style="width:22%;">
        <col style="width:22%;">
        <col style="width:22%;">
        <col style="width:22%;">
      </colgroup>
      <thead>
        <tr class="th-rooms">
          <th class="room">Room</th>
          <th class="room">Room 1</th>
          <th class="room">Room 2</th>
          <th class="room">Room 3</th>
          <th class="room">Room 4</th>
        </tr>
        <tr class="th-room-sessions">
          <th>Time/Session</th>
          <th>Clinical diabetes and therapeutics</th>
          <th>Diabetes complications /<br>Education and integrated care</th>
          <th>Epidemiology / Basic research</th>
          <th>Translational research /<br>위원회 세션 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">15:30~17:30</td>
          <td (click)="getSessionDetail('626883e71a3f9400121d95f8')">혈관세포연구회 세션</td>
          <td (click)="getSessionDetail('626b4d869ad5c3001221f7b9')">당뇨병신경병증연구회 세션</td>
          <td (click)="getSessionDetail('626b53179ad5c3001221f7c3')">대사질환 신약 및<br>기술개발연구회 세션</td>
          <td (click)="getSessionDetail('626f26999ad5c3001221f7ec')">Basic research hot topic 세션</td>
        </tr>
      </tbody>
    </table>

    <!-- ! ------------------------- Day 2------------------------- -->
    <ng-container *ngIf="selectedDate === 1">
      <table class="force-footer">
        <colgroup>
          <col style="width:12%;">
          <col style="width:22%;">
          <col style="width:22%;">
          <col style="width:22%;">
          <col style="width:22%;">
        </colgroup>
        <thead>
          <tr class="th-rooms">
            <th class="room">Room</th>
            <th class="room">Room 1</th>
            <th class="room">Room 2</th>
            <th class="room">Room 3</th>
            <th class="room">Room 4</th>
          </tr>
          <tr class="th-room-sessions">
            <th>Time/Session</th>
            <th>Clinical diabetes and therapeutics</th>
            <th>Diabetes complications /<br>Education and integrated care</th>
            <th>Epidemiology / Basic research</th>
            <th>Translational research /<br>위원회 세션 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="time">08:30~08:50</td>
            <td (click)="getSessionDetail('626f29c79ad5c3001221f7f2')">Satellite symposium 1</td>
            <td (click)="getSessionDetail('626f77295da0b600120b9474')">Satellite symposium 2</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="time">08:50~09:00</td>
            <td class="break" colspan="4">Break</td>
          </tr>
          <tr>
            <td class="time">09:00~11:00</td>
            <td class="sympo-1" (click)="getSessionDetail('626f2ab99ad5c3001221f7f7')">S1 Clinical diabetes and
              therapeutics 1</td>
            <td class="sympo-2" (click)="getSessionDetail('626f77df5da0b600120b9477')">S2 Behavioral medicine/education
            </td>
            <td class="sympo-3" (click)="getSessionDetail('626f7ce95da0b600120b9487')">S3 Epidemiology</td>
            <td class="sympo-4" (click)="getSessionDetail('626f9f5a5da0b600120b94a2')">S4 Translational research 1</td>
          </tr>
          <tr>
            <td class="time">11:00~11:20</td>
            <td class="break" colspan="4">Break</td>
          </tr>
          <tr>
            <td class="time">11:20~11:30</td>
            <td (click)="getSessionDetail('626f310c9ad5c3001221f814')">Opening address</td>
            <td colspan="3" rowspan="2"></td>
          </tr>
          <tr>
            <td class="time">11:30~12:10</td>
            <td class="plenary" (click)="getSessionDetail('626f31ef9ad5c3001221f818')">Plenary lecture 1</td>
          </tr>
          <tr>
            <td class="time">12:10~13:20</td>
            <td (click)="getSessionDetail('626f32899ad5c3001221f81d')">Luncheon symposium 1</td>
            <td (click)="getSessionDetail('626f78f25da0b600120b947e')">Luncheon symposium 2</td>
            <td (click)="getSessionDetail('626f7e9c5da0b600120b948f')">Luncheon symposium 3</td>
            <td (click)="getSessionDetail('626fa5665da0b600120b94a8')">Luncheon symposium 4</td>
          </tr>
          <tr>
            <td class="time">13:20~14:20</td>
            <td colspan="3">Poster presentation 1 (3층 로비)</td>
            <td class="award" (click)="getSessionDetail('626fa5f85da0b600120b94aa')">DMJ International publication award
            </td>
          </tr>
          <tr>
            <td class="time">14:20~14:50</td>
            <td (click)="getSessionDetail('626f33709ad5c3001221f823')">설원학술상 특강</td>
            <td colspan="3" rowspan="2"></td>
          </tr>
          <tr>
            <td class="time">14:50~15:30</td>
            <td class="plenary" (click)="getSessionDetail('626f745d5da0b600120b9469')">Plenary lecture 2</td>
          </tr>
          <tr>
            <td class="time">15:30~15:50</td>
            <td class="break" colspan="4">Break</td>
          </tr>
          <tr>
            <td class="time">15:50~17:50</td>
            <td class="sympo-1" (click)="getSessionDetail('626f75265da0b600120b946c')">S5 Clinical diabetes and
              therapeutics 2</td>
            <td class="sympo-2" (click)="getSessionDetail('626f79c85da0b600120b9481')">S6 Self-care</td>
            <td class="sympo-3" (click)="getSessionDetail('626f7fc25da0b600120b9492')">S7 Basic research 1</td>
            <td class="yellow" (click)="getSessionDetail('626fa83f5da0b600120b94b6')">보험-대관위원회 세션</td>
          </tr>
          <tr>
            <td class="time">17:50~18:00</td>
            <td class="break" colspan="4">Break</td>
          </tr>
          <tr>
            <td class="time purple">18:00~ </td>
            <td style="background: #a66bd3; color:white;" colspan="4">Dinner(경주힐튼호텔 그랜드볼룸)</td>
          </tr>
          <tr>
            <td class="time" style="background:#638ced;">18:00~19:00</td>
            <td style="background:#638ced; color:white;" colspan="4" (click)="openUrl('https://zep.us/play/8rqJOD')">
              메타버스(Metaverse) 포스터 구연 발표
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mb-3 force-footer">&nbsp;</div>
      <div class="mb-3"></div>
    </ng-container>

    <!-- ! ------------------------- Day 3 --------------------------->
    <table *ngIf="selectedDate===2">
      <colgroup>
        <col style="width:12%;">
        <col style="width:22%;">
        <col style="width:22%;">
        <col style="width:22%;">
        <col style="width:22%;">
      </colgroup>
      <thead>
        <tr class="th-rooms">
          <th class="room">Room</th>
          <th class="room">Room 1</th>
          <th class="room">Room 2</th>
          <th class="room">Room 3</th>
          <th class="room">Room 4</th>
        </tr>
        <tr class="th-room-sessions">
          <th>Time/Session</th>
          <th>Clinical diabetes and therapeutics</th>
          <th>Diabetes complications /<br>Education and integrated care</th>
          <th>Epidemiology / Basic research</th>
          <th>Translational research /<br>위원회 세션 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:30~08:50</td>
          <td (click)="getSessionDetail('626fa98e5da0b600120b94bb')">Satellite symposium 3</td>
          <td (click)="getSessionDetail('626fae06b628290012a26d35')">Satellite symposium 4</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">08:50~09:00</td>
          <td class="break" colspan="4">Break</td>
        </tr>
        <tr>
          <td class="time">09:00~11:00</td>
          <td class="sympo-1" (click)="getSessionDetail('626faa235da0b600120b94be')">S8 Clinical diabetes and
            therapeutics 3</td>
          <td class="sympo-2" (click)="getSessionDetail('626faecdb628290012a26d38')">S9 Diabetes complications 1</td>
          <td class="sympo-3" (click)="getSessionDetail('626fb7adb628290012a26d47')">S10 Basic research 2</td>
          <td class="yellow" (click)="getSessionDetail('626fbc07b628290012a26d5a')">진료지침위원회 세션</td>
        </tr>
        <tr>
          <td class="time">11:00~11:20</td>
          <td class="break" colspan="4">Break</td>
        </tr>
        <tr>
          <td class="time">11:20~12:00</td>
          <td class="plenary" (click)="getSessionDetail('626fab5eb628290012a26d26')">Plenary lecture 3</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td class="time">12:00~13:00</td>
          <td (click)="getSessionDetail('626fabb1b628290012a26d29')">Luncheon symposium 5</td>
          <td (click)="getSessionDetail('626fb0b1b628290012a26d40')">Luncheon symposium 6</td>
          <td (click)="getSessionDetail('626fb92cb628290012a26d4f')">Luncheon symposium 7</td>
          <td (click)="getSessionDetail('626fbd01b628290012a26d61')">Luncheon symposium 8</td>
        </tr>
        <tr>
          <td class="time">13:00~14:00 </td>
          <td colspan="2">Poster presentation 2 (3층 로비)</td>
          <td class="purple" (click)="getSessionDetail('626fbac8b628290012a26d56')">KDA women initiative symposium</td>
          <td class="purple" rowspan="2" (click)="getSessionDetail('626fbd9db628290012a26d63')">Diabetes care and
            education</td>
        </tr>
        <tr>
          <td class="time">14:00~14:30</td>
          <td (click)="getSessionDetail('626fac44b628290012a26d2d')">Young investigator award<br>(젊은 연구자상) 특강</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">14:30~16:30</td>
          <td class="sympo-1" (click)="getSessionDetail('626faccdb628290012a26d2f')">S11 Clinical diabetes and
            therapeutics 4</td>
          <td class="sympo-2" (click)="getSessionDetail('626fb23eb628290012a26d43')">S12 Clinical nutrition</td>
          <td class="sympo-3" (click)="getSessionDetail('626fb9beb628290012a26d51')">S13 Diabetes complications 2</td>
          <td class="sympo-4" (click)="getSessionDetail('626fbeedb628290012a26d68')">S14 Translational research 2</td>
        </tr>
      </tbody>
      <div class="time-table-margin-bottom">
      </div>
    </table>

  </div>
</div>

<!-- ! 세션 상세 모달 -->
<div class="modal fade" id="modal-session-detail" data-backdrop="static" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="session-detail-header">
        <div class="header-title">
          {{selectedAgenda?.room.roomName}}
        </div>
        <img src="../../../assets/icons/close-modal-icon.svg"
          alt="X" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <div class="session-title" [innerHtml]="selectedAgenda?.subTitle"></div>
        <span class="session-notification">※ Click Here to Watch the Whole Session. (Approved Videos Only)</span>

        <div class="session-information">
          <div class="row chair-list" *ngFor="let chair of selectedAgenda?.speakers">
            <div class="col-lg-3 offset-lg-2 chair-name">
              <img *ngIf="selectedAgenda?.id !== '626f310c9ad5c3001221f814'"
                src="../../../assets/icons/instructor-icon.svg">
              {{chair?.fullName}}
            </div>
            <div class="col-lg-1 d-none d-lg-flex section-bar">
              <span class="section-bar"></span>
            </div>
            <div class="col-lg-6 chair-belong">
              {{chair?.company}}
            </div>
          </div>
        </div>

        <div class="session-lecture-list" *ngIf="selectedAgenda?.id !== '626f310c9ad5c3001221f814'">
          <div class="lecture-title">
            <img src="../../../assets/icons/lecture-list-icon.svg">
            <span>Lecture Information</span>
          </div>
          <div class="lecture-list-wrapper" *ngIf="selectedSubList">
            <div class="row lecture-item" *ngFor="let lecture of selectedSubList"
              (click)="goLiveV2(lecture.dateId, lecture.roomId)">
              <div class="col-md-3 lecture-time">{{ lecture.startTime }} - {{ lecture.endTime }}</div>
              <div class="col-md-9 leture-infomation">
                <div class="lecture-name" [innerHtml]="lecture.title"></div>
                <div class="instructor-information" *ngFor="let speaker of lecture?.speakers">
                  <span>{{speaker.fullName}}</span>
                  <span></span>
                  <span>{{speaker.company}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
