$modalPointColor: #73D9C3;
$modalStrongColor: #2E9E8F;
.force-footer {
  margin-bottom: 40px;
}
.timetable-wrapper {
  width: 100%;
  height: 100%;

  .date-item {
    gap: 10px;
    margin-bottom: 24px;

    button {
      color: #626262;
      background: #fff;
      border-color: #626262;
      width: 145px;
      min-height: 40px;
      font-size: 15px;

      &:hover {
        background: rgb(62, 193, 171);
        border-color: rgb(62, 193, 171);
        color: var(--white);
      }

      &.active {
        background: rgb(62, 193, 171);
        border-color: rgb(62, 193, 171);
        color: var(--white);
      }
    }
  }
}

.timetable-templates {

  @media screen and (max-width:600px) {
    & {
      word-break: break-all;
    }
  }

  .table-container {
    margin-bottom: 32px;
  }

  .time-table-margin-bottom {
    margin-bottom: 60px;
  }

  table {
    width: 100%;

    th {
      font-weight: 700;
      font-size: 16px;
      height: 40px;
    }

    th,
    td {
      padding: 2px 4px;
      text-align: center;
      border: 1px solid #cbcbcc;
    }

    .th-rooms {
      th {
        background: rgb(62, 193, 171);
        color: var(--white);
      }
    }

    .th-room-sessions {
      th {
        font-size: 16px;
        color: var(--white);

        &:nth-child(1) {
          background: #495b96;
        }

        &:nth-child(2) {
          background: #5393c5;
        }

        &:nth-child(3) {
          background: #42a2b2;
        }

        &:nth-child(4) {
          background: #dc7d89;
        }

        &:nth-child(5) {
          background: #685aa9;
        }
      }
    }

    tbody {
      td {
        &:nth-child(n+2) {
          cursor: pointer;
        }

        padding: 4px 10px;
        word-break: break-word;
        font-size: 14px;

        &.time {
          min-width: 112px;
          background: #a9b3d6;
          color: var(--white);

          &.purple {
            background: #7e63d6;
          }
        }

        &.sympo-1 {
          background: #d4e5f1;
        }

        &.sympo-2 {
          background: #ceefe4;
        }

        &.sympo-3 {
          background: #f5dcdf;
        }

        &.sympo-4 {
          background: #e7e5f4;
        }

        &.plenary {
          background: #d57b7b;
          color: var(--white);
        }

        &.award {
          background: #638ced;
          color: var(--white);
        }

        &.yellow {
          background: #e9ab09;
          color: var(--white);
        }

        &.purple {
          background: #e9c4e5;
        }

        &.break {
          background: #e3e3e3;
        }

      }

    }

  }
}

/* 모달 스타일 */

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 960px;
  }
}

.modal-content {
  border: 0;
  border-radius: 20px;
}

.session-detail-header {
  display: flex;
  justify-content: center;

  .header-title {
    width: 300px;
    height: 38px;
    background-color: $modalPointColor;
    border-radius: 0px 0px 100px 100px;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 21px;
    height: 21px;

    position: absolute;
    right: 15px;
    top: 15px;

    cursor: pointer;
  }
}

.modal-body {
  padding: 61px 80px 91px 61px;

  .session-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: #242424;
  }

  .session-notification {
    text-align: center;
    font-size: 1.2rem;
    color: #898989;
    display: block;

    transform: translateY(-8px);
  }

  .session-information {
    width: 100%;
    padding: 24px 0;
    margin-top: 30px;
    background-color: #F7F7F7;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;

    color: #404040;

    .chair-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;

      @media (max-width: 992px) {
        text-align: center;
      }

      .chair-name {
        text-align: right;
        padding-right: 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: $modalStrongColor;

        img {
          width: 16px;
          margin-right: 8px;
        }
      }

      .section-bar {
        justify-content: right;
        align-items: center;

        span {
          display: block;
          background-color: #838383;
          height: 15px;
          width: 2px;
        }
      }

      .chair-belong {
        font-size: 1.4rem;
      }
    }
  }

  .session-lecture-list {
    margin-top: 36px;

    .lecture-title {
      font-size: 1.3rem;
      font-weight: 600;
      display: inline-block;

      img {
        width: 14px;
        margin-right: 11px;
      }
    }

    .lecture-list-wrapper {
      max-height: 328px;
      margin-top: 14px;
      background-color: #F9F9F9;
      border-top: 2px solid #B2D8C8;
      border-bottom: 2px solid #B2D8C8;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background-color: #6BCFB7;
        border-radius: 30px;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      .lecture-item {
        padding: 18px 0;
        margin: 0;
        border-bottom: 1px solid #DEDEDE;

        &:hover {
          background-color: #F1F9F7;
        }

        &:last-child {
          border-bottom: 0;
        }

        .lecture-time {
          font-size: 1.5rem;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        .leture-infomation {
          font-size: 1.5rem;

          .lecture-name {
            font-weight: 600;
          }

          .instructor-information {
            display: flex;
            align-items: center;

            span {

              &:nth-child(1) {
                color: #029380;
                font-weight: 600;
              }

              &:nth-child(2) {
                margin: 0 12px;
                display: block;
                background-color: #838383;
                height: 15px;
                width: 1px;
              }
            }
          }
        }
      }
    }
  }
}
