.player-wrapper {
  .player-inner {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;

    .player-container {
      width: 74%;

      .player {
        max-width: 100%;
        margin: 0 auto;

        .embed-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
          max-width: 100%;
          display: flex !important;
          justify-content: center !important;

          iframe,
          object,
          embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: center !important;
          }
        }
      }
    }

    app-chat-ikoob {
      width: 26%;
    }
  }

  .marquee-noti {
    font-size: 16px;
    margin-bottom: 8px;
    border: 3px solid #029380;
    border-radius: 15px;

    height: 42px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1014px) {
  .player-wrapper .player-inner {
    flex-direction: column;

    .player-container {
      width: 100%;
    }

    app-chat-ikoob {
      width: 100%;
    }
  }
}
