<div class="player-wrapper">
  <div class="player-inner">
    <div class="player-container" [ngClass]="{'is-vod': !isLive}" *ngIf="liveUrl">
      <div class="player">
        <div class="embed-container">
          <iframe width="560" height="315" [src]="liveUrl" title="video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <ng-container *ngIf="relationId && chatProvider === 3">
      <app-chat-ikoob (checkIsLastSession)="callCheckIsLastSession($event)" [relationId]="relationId"></app-chat-ikoob>
    </ng-container>
  </div>
  <marquee class="marquee-noti" scrolldelay="10" scrollAmount="12">당뇨병학회 제35차 춘계학술대회는 하이브리드(온/오프라인)로 진행되며, 온라인 참가자들에 한하여
    플랫폼에서 시청기록이 누적, 평점이 인정됩니다. 문의사항은 우측 하단의 카카오톡으로 문의주시길 바랍니다.
</marquee>
  <!-- 광고 구좌-->
  <app-banner-slider [canMove]="true" [maxWidth]="'100%'" [bannerType]="'live'" [autoSlide]="6"></app-banner-slider>

</div>
