<div class="about-wrapper max-1400" [ngClass]="{'is-page': isPage}">
  <div class="content-wrapper">
    <div class="m-auto">
      <div class="title-wrapper">
        <h2>Welcome Message</h2>
      </div>
    </div>
    <article>
      <div class="content-inner" *ngIf="!isPage">
        <p [innerHTML]="description | safeHtml "></p>
      </div>
      <div>
        <p [innerHTML]="description | safeHtml" *ngIf="isPage"></p>
      </div>

      <div class="text-center">
        <p *ngIf="!description">To be determined.</p>
      </div>
    </article>
  </div>
</div>
