<div class="player-wrapper">
  <div class="player-inner">
    <div class="player-container" [ngClass]="{'is-vod': !isLive}" *ngIf="liveUrl">
      <div class="player">
        <div class="embed-container">
          <iframe
            width="560"
            height="315"
            [src]="liveUrl"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="reply not-drag">
      <div class="reply-header"> 채팅 </div>
      <div class="reply-list">
        <div #commentList class="reply-history">
          <div class="reply-item-container" *ngFor="let reply of replys; let last = last">
            <div class="reply-item-lt">
              <div class="reply-username" [innerHTML]="reply?.member?.name"></div>
              <div class="reply-content">
                <span [innerHTML]="reply.content | linkify"></span>
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
            </div>
            <div class="reply-item-rt">
              <div class="reply-date" [innerHTML]="reply?.createdAt | date: 'HH:mm'"> </div>
            </div>
          </div>
        </div>
      </div>
      <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
        <label>{{ user.name }}</label>
        <input class="form-control" type="text" placeholder="의견을 남겨주세요." formControlName="content" />
        <hr />
        <div class="text-right">
          <button class="btn btn-send" type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 광고 구좌-->
  <app-banner-slider [canMove]="true" [maxWidth]="'100%'" [bannerType]="'live'" [autoSlide]="6"></app-banner-slider>
  <div style="font-size: 20px; text-align: center; color: #029380"><b>5월 30일(월) 부터 6월 30일(목)</b>까지 재방송에 동의하신 연자분들의 강의만 공개됩니다.</div>
</div>
