.player-wrapper {
  .player-inner {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;

    .player-container {
      width: 74%;

      .player {
        max-width: 100%;
        margin: 0 auto;

        .embed-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
          max-width: 100%;
          display: flex !important;
          justify-content: center !important;

          iframe,
          object,
          embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: center !important;
          }
        }
      }
    }

    .reply {
      width: 26%;
      border: 1px solid var(--gray7);
      flex-direction: column;
      position: relative;
      display: flex;

      // 댓글 헤더
      .reply-header {
        display: flex;
        height: 50px;
        font-size: 16px;
        align-items: center;
        background: var(--gray6);
        padding: 8px;
        font-weight: 500;

      }

      .reply-list {
        height: 100%;

        .reply-history {
          min-height: 400px;
          overflow-y: scroll;

          .reply-item-container {
            display: flex;
            padding: 4px 12px;
            justify-content: space-between;

            .reply-item-lt {
              display: flex;
              width: 80%;

              .reply-username {
                font-weight: bold;
                min-width: 50px;
              }
            }

            .reply-item-rt {
              display: lfex;
              width: fit-content;

              .reply-date {
                width: 100%;
              }
            }
          }
        }
      }

      .reply-form {
        padding: 8px 16px;
        background: var(--gray7);

        label {
          font-size: 1.2rem;
        }

        input {
          padding-left: 0;
          padding-right: 0;
          border: none;
          background: none;

          &::placeholder {
            color: var(--gray24);
          }
        }

        hr {
          margin-top: 2px;
        }

        >div {
          font-size: 1rem;
          color: var(--gray7);

          .btn-send {
            margin-left: 16px;
            color: var(--black);
            background: var(--gray2);
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1014px) {
  .player-wrapper .player-inner {
    flex-direction: column;

    .player-container {
      width: 100%;
    }

    .reply {
      width: 100%;

      .reply-list {
        .reply-history {
          min-height: 0;
          height: 300px;
          overflow-y: scroll;

        }
      }
    }
  }
}
