<div class="program-wrapper max-1400" [ngClass]="{'is-page': isPage}">
  <div class="content-wrapper">
    <div class="m-auto">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <app-time-table></app-time-table>
    </div>
  </div>
</div>
