<div class="content-body max-1400 is-page">
  <div>
    <div class="content-inner">
      <form [formGroup]="formGroup" (submit)="submit()">
        <div class="title-wrapper">
          <h2>Notice > Write</h2>
        </div>
        <div class="board-write-body">
          <div class="board-write-form" *ngIf="user?.role==='manager'">
            <!-- * 관리자일 경우에 노출 * -->
            <div class="row not-drag">
              <div class="col col-lg-1 col-0 board-form-label">구분</div>
              <div class="col col-lg-11 col-12 board-btn-wrapper">
                <input type="radio" id="type1" value="notice" formControlName="type">
                <label for="type1">
                  <div class="board-btn">공지</div>
                </label>
                <input type="radio" id="type2" value="faq" formControlName="type">
                <label for="type2">
                  <div class="board-btn">FAQ</div>
                </label>
              </div>
            </div>
            <div class="row not-drag">
              <div class="col col-lg-1 col-0 board-form-label">상단고정</div>
              <div class="col col-lg-11 col-12 board-btn-wrapper">
                <input type="radio" id="on" [value]="true" formControlName="isFixed">
                <label for="on">
                  <div class="board-btn">ON</div>
                </label>
                <input type="radio" id="off" [value]="false" formControlName="isFixed">
                <label for="off">
                  <div class="board-btn">OFF</div>
                </label>
              </div>
            </div>
            <!-- ******************** -->
          </div>
          <div class="board-write-form">
            <div class="row">
              <div class="col col-lg-1 col-0 not-drag board-form-label">Title
              </div>
              <div class="col col-lg-11 col-12">
                <input type="text" class="form-control" formControlName="title">
              </div>
            </div>
            <div class="row mb-0">
              <div class="col col-lg-1 col-0 not-drag board-form-label">Contents</div>
              <div class="col col-lg-11 col-12">
                <textarea class="form-control" formControlName="content"></textarea>
              </div>
            </div>
          </div>

          <!-- * 일반 사용자일 경우에 노출 * -->
          <div class="board-write-form-footer row not-drag">
            <div class="col col-lg-1 col-0"></div>
            <div class="col col-lg-11 col-12 board-writer-info-col">
              <div class="board-writer-info">
                <div class="row">
                  <div class="col col-2 label">Name</div>
                  <div class="col col-4">
                    <input type="text" class="form-control form-control-sm" formControlName="writer" autocomplete="name"
                      [readonly]="user?.id.length">
                  </div>
                  <div class="col col-2 label">Email</div>
                  <div class="col col-4">
                    <input type="email" class="form-control form-control-sm" formControlName="email"
                      autocomplete="email" [readonly]="user?.id.length">
                  </div>
                </div>
                <div class="row">
                  <div class="col col-2 label">Mobile</div>
                  <div class="col col-4">
                    <input type="tel" class="form-control form-control-sm" formControlName="phone" autocomplete="tel">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ******************** -->
        </div>
        <div class="board-write-footer not-drag">
          <div class="board-btn-wrapper">
            <button class="board-btn navy" type="submit">Submit</button>
            <button class="board-btn " [routerLink]="'/board'">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
