.content-body {
  &.is-login-page {
    background: #F6F6F6;
  }

  .content-wrapper {
    padding: 68px 0 42px 0;

    .login-header {
      margin-bottom: 43px;

      .login-title {
        font-size: 56px;
        color: #D7D7D7;
        margin-bottom: 14px;
        font-weight: 600;
      }

      .btn-login-info {
        .just-text {
          margin: 0 12px;
        }

        max-width: 399px;
        width: 100%;
        height: 38px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #404040;
        background: #F2F0F0;
        border-radius: 30px;
        font-size: 14px;
        align-items: center;
        // letter-spacing: -1%;

        .colored {
          color: rgb(2, 147, 128);
        }

        img {
          width: 5px;
          height: 8px;
        }
      }
    }

    .login-form-container {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 14px;

      .login-form-body {
        width: 100%;
        gap: 10px;

        .input-wrapper {
          display: flex;
          flex-direction: column;
          color: var(--gray16);

          input {
            border: 1px solid #ECECEC;
            border-radius: 4px;
            background: var(--white);
            padding: 14px 20px;
            font-size: 18px;
            color: #9F9F9F;
          }

          input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
          }

          input:focus {
            outline: 1px solid #ECECEC;
          }
        }

        margin-bottom:11px;
      }
    }

    .login-form-footer {
      max-width: 400px;

      .password-error {
        font-size: 15px;
        color: #F06868;
        margin-bottom: 32px;
        height: 18px;
      }

      .btn-submit {
        button {
          height: 54px;
          font-size: 18px;
          background: #53BCAE;
          padding: 12px 19px;
          color: white;
          border: 1px solid #53BCAE;
          border-radius: 4px;
        }

        margin-bottom:24px;
      }

      .btn-forgot-password {
        a {
          font-size: 14px;
        }
      }
    }

    .login-footer {

      .info-wrapper {
        max-width: 260px;
        margin: 0 auto;

        margin-bottom: 72px;
      }
    }
  }
}

#modal-find-password {
  max-width: 826px;

  .modal-content {
    padding: 16px;
    width: 100%;
    max-width: 500px;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .find-password-error {
      color: red;
      margin-bottom: 16px;
    }


    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .btn-submit {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        font-size: 10pt;

        &.confirm-btn {
          width: 100%;
          max-width: 250px;
          height: 50px;
          color: var(--white);
          font-weight: 600;
          // border-radius: 25px;
          background: var(--main-color);
          margin-bottom: 16px;
        }

        &.cancel {
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }
}
