<div class="content-body is-login-page">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="d-flex justify-content-center flex-column text-center login-header">
        <div class="login-title">
          Login
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn-login-info">
            <span class="just-text">
              <a [routerLink]="'/board/6278ac8ea2c4f10012a12cc5'" style="color:#404040"
                routerLinkActive="router-link-active">제35차 대한당뇨병학회
                춘계학술대회&nbsp;<span class="colored">온라인 시청 안내</span></a>
            </span>
            <img src="../../../assets/icons/ic-veiw.png">
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column login-form-container">
        <div class="d-flex justify-content-center flex-column login-form-body">
          <div class="input-wrapper">
            <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()"
              placeholder="E-mail" />
          </div>
          <div class="input-wrapper">
            <input class="mb-1" name="password" type="password" id="password" [(ngModel)]="member.password"
              (keyup.enter)="login()" placeholder="Password" />
          </div>
        </div>

        <div class="d-flex flex-column w-100 login-form-footer">
          <div class="password-error">
            {{passwordError?passwordError:''}}
          </div>
          <div class="btn-submit">
            <button class="w-100" (click)="login()">LOGIN</button>
            <!-- <div class="text-danger text-center" style="font-size:1 margin-top: 8px;">* 5.12 (목) 오후 3시부터 로그인 가능</div> -->
          </div>
        </div>
      </div>
      <div class="login-footer">
        <div class="info-wrapper d-flex justify-content-center">
          <a href="http://pf.kakao.com/_axkgxcb/chat" target="_blank">
            <img src="../../../assets/img/kakao.png">
          </a>
        </div>
        <!-- 광고 구좌-->
        <!-- <app-banner-slider [canMove]="false" [maxWidth]="'1000px'" [bannerType]="'live'" [autoSlide]="4">
        </app-banner-slider> -->
      </div>

    </div>
  </div>
</div>

<!-- 비밀번호 찾기 -->
<!-- <div class="modal find-password fade" id="findPassword" data-backdrop="static" role="dialog"
  aria-labelledby="findPassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" id="modal-find-password" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          Password Reset
        </div>
        <div class="modal-description">
          <p>Forgot your Password?<br>
            Please enter the email you register to KDA 2022
          </p>
        </div>

        <div class="form-group row">
          <label for="pwd-email" class="col-sm-2 col-form-label">E-mail</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="pwd-email" [(ngModel)]="pwdEmail" (keyup.enter)="sendEmail()">
          </div>
        </div>
        <div class="find-password-error text-center">{{findPasswordError}}</div>
        <div class="btn-submit">
          <button type="button" class="btn btn-block confirm-btn" (click)="sendEmail()">
            Request Password Reset
          </button>
          <button class="btn btn-danger cancel" data-toggle="modal" data-target="#findPassword"
            (click)="cancelFindPwd()">
            Back to Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
