.floating-button-container {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 999;

  .floating-button {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #FEFEFE;
    border: 1px solid #FAFAFA;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;

    &:hover {
      background-color: #3EC1AB;
      border: 1px solid #3EC1AB;

      .qna {
        background: center / contain no-repeat url('../assets/icons/float_qna_on.svg');
      }
      .stamp {
        background: center / contain no-repeat url('../assets/icons/float_stamp_on.svg');
      }
      .program {
        background: center / contain no-repeat url('../assets/icons/float_program_on.svg');
      }
      .top {
        background: center / contain no-repeat url('../assets/icons/float_top_on.svg');
      }

      .top-text, .program-text, .stamp-text, .qna-text {
        opacity: 1;
        display: block;
        transform: translateX(0px);
        animation: showing__from_left 0.5s;
        animation-fill-mode: forwards;
      }
    }

    &.stamp-active {
      background-color: #3EC1AB;
      border: 1px solid #3EC1AB;
      .stamp {
        background: center / contain no-repeat url('../assets/icons/float_stamp_on.svg');
      }
    }
    
    .top-text, .program-text, .stamp-text, .qna-text {
      display: none;
      opacity: 0;
      transform: translateX(-50px);
      position: absolute;
      left: -7.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      background-color: #fff;
      border: 2px solid #3EC1AB;
      color: #3EC1AB;
      padding: 6px 10px;
      border-radius: 15px;
    }
    
    .top-text {
      left: -5rem;
    }
    .qna-text {
      left: -8.5rem;
    }
    .stamp-text {
      left: -9.5rem;
    }
  }

  .qna {
    width: 24px;
    height: 26px;
    background: center / contain no-repeat url('../assets/icons/float_qna_off.svg');
  }
  .stamp {
    width: 26px;
    height: 28px;
    background: center / contain no-repeat url('../assets/icons/float_stamp_off.svg');
  }
  .program {
    width: 25px;
    height: 25px;
    background: center / contain no-repeat url('../assets/icons/float_program_off.svg');
  }
  .top {
    width: 18px;
    height: 26px;
    background: center / contain no-repeat url('../assets/icons/float_top_off.svg');
  }
}

.stamp-box {
  max-width: 700px;
  max-height: 740px;
  padding: 20px;
  background-color: #4ABEAB;
  border-radius: 10px;
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.12);

  position: fixed;
  right: 100px;
  bottom: 30px;
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  animation: showing__box 0.5s;
  animation-fill-mode: forwards;
  
  &.none-ani {
    animation: showing__box_reverse 0.5s;
    animation-fill-mode: forwards;
    display: none;
    opacity: 0;
  }

  .stamp-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
  }

  .stamp-event-title {
    width: 42%;
    max-width: 304px;
    height: 36px;
    background-color: #0FB599;
    color: #EFEFEF;
    border-radius: 0px 0px 300px 300px;
    font-size: 1.5rem;
    font-weight: 700;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    line-height: 36px;
    text-align: center;
  }

  .stamp-title {
    width: 373px;
    margin-top: 8%;
    margin-bottom: 4%;
    z-index: 3;
  }

  .stamps {
    padding: 20px;
    border-radius: 18px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .stamp_line {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 25%;
      }
    }
  }

  .stamp-close-btn {
    width: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
    cursor: pointer;
  }
}

// ! 소켓통신 수신 토스트 SCSS
.toast-wrapper {
  width: 340px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 320px;

  .toast-header button {
    color: #000;
  }

  .toast.show {
    border-radius: 8px;
  }

  .toast-header {
    border-radius: 8px 8px 0 0;
    font-size: 12px;
    padding-bottom: 0;
    color: #2454fa;
    border-bottom: 0;
    background: #ffffff;
  }

  .toast-body {
    border-radius: 0 0 8px 8px;
    padding-top: 2px;
    background: #ffffff;
    color: #2e2e2e;
  }
}

@media(max-width: 767px) {
  .toast-wrapper {
    width: 50%;
  }
}



/* 애니메이션 */

// 박스 활성화 시
@keyframes showing__box {
  0% {transform: translateY(30px); opacity: 0; display: none;}
  50% {opacity: 1;}
  100% {transform: translateY(0px); opacity: 1; display: block;}
}

// 박스 비활성화 시
@keyframes showing__box_reverse {
  0% {transform: translateY(0px); opacity: 1; display: block;}
  50% {opacity: 0;}
  100% {transform: translateY(30px); opacity: 0; display: none;}
}

@keyframes showing__from_left {
  0% {transform: translateX(-50px); opacity: 0; display: none;}
  50% {opacity: 0.3;}
  100% {transform: translateY(0px); opacity: 1; display: block;}
}