<app-header *ngIf="!isIe" [event]="event"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!isIe"></app-footer>

<div class="floating-button-container">
  <div class="floating-button" [ngClass]="{'d-none': !isFloatTop}" (click)="goTop()">
    <div class="top"></div>
    <div class="top-text">Top</div>
  </div>
  <div class="floating-button" [ngClass]="{'d-none': !isFloatProgram}" (click)="goProgram()">
    <div class="program"></div>
    <div class="program-text">Program</div>
  </div>
  <div class="floating-button" [ngClass]="{'stamp-active': !isStampsHidden, 'd-none': !isFloatStamp || !user}" (click)="showStamps()">
    <div class="stamp"></div>
    <div class="stamp-text">Stamp Tour</div>
  </div>
  <div class="floating-button" (click)="openChannelIo()">
    <div class="qna"></div>
    <div class="qna-text">KakaoTalk</div>
  </div>
</div>

<div class="stamp-box" [ngClass]="{'none-ani': isStampsHidden}">
  <img src="../assets/icons/close-modal-icon-white.svg" alt="close" class="stamp-close-btn" (click)="showStamps()" />
  <img src="../assets/img/e-booth/stamps/stamp_img.svg" alt="stamp" class="stamp-img" />
  <div class="stamp-event-title">KDA 2022</div>
  <img src="../assets/img/e-booth/stamps/stamp_title.svg" class="stamp-title" />
  <div class="stamps">
    <ng-container *ngFor="let booths of stampList; let i = index">
      <div class="stamp_line">
        <ng-container *ngFor="let booth of booths; let j = index">
          <img [src]="'../../../assets/img/e-booth/stamps/stamp_' + (booth.visit ? 'on' : 'off') + (i * 4 + (j + 1)) + '.svg'" />
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- ! 알림 토스트 쌓이는 영역 -->
<div class="toast-wrapper"> </div>

<div class="modal" tabindex="-1" id="multiLoginAlert">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">알림</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>다른 기기에서 로그인 되었습니다.</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" (click)="goToLogin()"> OK </button>
      </div>
    </div>
  </div>
</div>
