.banner-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;

  img {
    width: 100%;
  }
  .m-banner-image {
    width: 100%;
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media(max-width: 575px) {
  .banner-wrapper {
    width: 100%;

    .m-banner-image {
      display: block;
    }

    &>img {
      display: none;
    }
  }
}