.mypage-title-wrapper {
  margin-bottom: 20px;

  .my-page-btn-logout {
    font-size: 1.4rem;
  }
}

.history-wrapper {
  margin-bottom: 16px;

  .date-wrapper {
    display: flex;
    justify-content: space-between;

    .history-total-time {
      place-self: center;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .history-date-btn {
    font-size: 1.4rem;
  }

  .history-date-btn,
  .history-room-btn {
    background: #029380;
    color: white;
  }

  .history-room-wrapper {
    margin-bottom: 8px;

    .history-room-btn {
      font-size: 1.3rem;
    }

    .session-wrapper {
      font-size: 1.3rem;
    }
  }
}

article {
  margin-bottom: 30px;
}

.my-page-inner {
  margin-bottom: 16px;
  padding: 16px 16px 8px;
  border: 1px solid var(--gray22);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: var(--white);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;

  .info-wrapper {
    display: flex;
    flex-wrap: wrap;

    .info-inner {
      position: relative;
      margin-bottom: 8px;
      flex-basis: 70%;
      margin-bottom: 0;
      font-size: 1.3rem;

      &:nth-child(odd) {
        flex-basis: 21.5%;

        .info-desc {
          min-width: 250px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .info-title {
        font-weight: bold;
        color: var(--gray16);
      }

      .info-desc {
        margin-bottom: 8px;
        color: var(--gray18);
        word-break: break-all;
      }
    }
  }
}

.date-wrapper {
  gap: 10px;

  .custom-select {
    max-width: 300px;
  }

  .btn-show {
    color: blue;
  }
}

#modal-password-change {
  .modal-header {
    background: #029380;
    color: white;
  }

  font-size: 20px;

  .reded {
    color: red;
  }

  .btn {
    background: #029380;
    color: white;
  }

  .password_err {
    color:var(--red);
    font-size: 14px;
  }
}
