<div class="content-body max-1400 is-page">
  <div class="content-wrapper">
    <div class="content-inner">
      <article>
        <div class="mypage-title-wrapper d-flex justify-content-between">
          <h2>안녕하세요! {{user.name}}선생님</h2>
          <button class="btn btn-danger my-page-btn-logout" (click)="logout()">LOGOUT</button>
        </div>
        <div class="my-page-inner personal-information">
          <div class="info-wrapper">
            <div class="info-inner">
              <span class="info-title">성함</span>
              <p class="info-desc">{{user.name}}</p>
            </div>
            <div class="info-inner">
              <span class="info-title">이메일주소</span>
              <p class="info-desc">{{user.email}}</p>
            </div>
            <div class="info-inner">
              <span class="info-title">휴대폰번호</span>
              <p class="info-desc">{{user.phone}}</p>
            </div>
            <div class="info-inner">
              <span class="info-title">소속</span>
              <p class="info-desc">{{user.organization}}</p>
            </div>
            <div class="info-inner" *ngIf="user.medicalLicense">
              <span class="info-title">면허번호</span>
              <p class="info-desc">{{user.medicalLicense}}</p>
            </div>
            <!-- <div class="info-inner">
              <span class="info-title">Address</span>
              <p class="info-desc">{{user.address}}</p>
            </div> -->
          </div>
        </div>
      </article>

      <div class="my-page-inner viewing-record" *ngIf="user.isLog">
        <div class="title-wrapper">
          <h3>LIVE Record</h3>
        </div>
        <ng-container *ngIf="histories">
          <ng-container *ngFor="let history of histories; let i = index;">
            <div class="history-wrapper">
              <div class="date-wrapper">
                <button class="btn history-date-btn" type="button" data-toggle="collapse"
                  [attr.data-target]="'#dateCollapse'+i" aria-expanded="false" [attr.aria-controls]="'dateCollapse'+i">
                  {{history.date}}
                </button>
                <div class="history-total-time">
                  {{history.hour}}h {{history.min}}m
                </div>
              </div>
              <div class="collapse" [id]="'dateCollapse'+i">
                <div class="card card-body history-room-wrapper"
                  *ngFor="let room of history.rooms | keyvalue; let j = index;">
                  <button class="btn history-room-btn" type="button" data-toggle="collapse"
                    [attr.data-target]="'#roomCollapse'+i+'-'+j" aria-expanded="false"
                    [attr.aria-controls]="'roomCollapse'+i+'-'+j">
                    {{room.key}}
                  </button>
                  <div class="collapse session-wrapper" [id]="'roomCollapse'+i+'-'+j">
                    <div class="card card-body" *ngFor="let session of room.value">
                      <p class="item-title">
                        <span [innerHTML]="session.title"></span>{{ session.watchTime }}min
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- <article>
        <div class="mypage-title-wrapper">
          <h3>나의 시청 기록 (live)</h3>
        </div>
        <div class="date-wrapper d-flex">
          <select class="custom-select" [(ngModel)]="selectedLiveDateId">
            <option value="" [selected]="true" [disabled]="true">날짜를 선택해주세요.</option>
            <option *ngFor="let date of dates" [value]="date.id">{{date.date}}</option>
          </select>
          <button class="btn btn-show" (click)="getLiveRecoed()">조회</button>
        </div>
      </article>
      <article>
        <div class="mypage-title-wrapper">
          <h3>나의 시청 기록 (vod)</h3>
        </div>
        <div class="date-wrapper d-flex">
          <select class="custom-select" [(ngModel)]="selectedVodDateId">
            <option value="" [selected]="true" [disabled]="true">날짜를 선택해주세요.</option>
            <option *ngFor="let date of dates" [value]="date.id">{{date.date}}</option>
          </select>
          <button class="btn btn-show" (click)="getVodRecord()">조회</button>
        </div>
      </article> -->
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="changePassword" data-backdrop="static" role="dialog">
  <div class="modal-dialog modal-dialog-centered" id="modal-password-change" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="text-white close" data-dismiss="modal" aria-label="Close"
          (click)="cancelChangePwd()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="oldPassword">Current Password <span class="reded">*</span></label>
          <input class="form-control" type="password" id="oldPassword" [(ngModel)]="PASSWORD_OLD">
        </div>

        <div class="form-group">
          <label for="newPassword">New Password <span class="reded">*</span></label>
          <input class="form-control" type="password" id="newPassword" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="form-group">
          <label for="confirmNewPassword">Confirm new password <span class="reded">*</span></label>
          <input class="form-control" type="password" id="confirmNewPassword" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="password_err">
          <p>{{PASSWORD_ERR}}</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn" (click)="changePassword()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- ! 백업용!!!! 비밀번호 변경 모달  -->
<div class="modal change-password fade" id="changePassword!!!!" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="modal-password-change" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          Change Password
        </div>
        <div class="modal-description">
          <p>
            Current Password <span class="reded">*</span>
          </p>
        </div>
        <div class="input-form">
          <label for="password-new">기존 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_OLD">
          <p [ngClass]="errorSwitch == 1 ? 'cancel' : 'not-active'">{{PASSWORD_ERR}}</p>
        </div>

        <div class="input-form">
          <label for="password-new">새로운 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
          <p [ngClass]="errorSwitch == 2 ? 'cancel' : 'not-active'">{{PASSWORD_ERR}}</p>
        </div>

        <div class="input-form">
          <label for="password-new-confirm">새로운 비밀번호 확인</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
          <p [ngClass]="errorSwitch == 3 ? 'cancel' : 'not-active'">{{PASSWORD_ERR}}</p>
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-primary mb-3" (click)="changePassword()">
            비밀번호 변경
          </button>
          <button class="btn btn-danger" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 시청기록 결과 모달 -->
<div class="modal fade" id="recordModal" data-backdrop="static" role="dialog" aria-labelledby="recordModal"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">
          <h4>{{modalDate}}</h4>
          <h4>{{modalTitle}}</h4>
          <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
            <i class="icon-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-description">
          <div class="no-history" *ngIf="histories.length == 0">
            <p> 시청기록이 존재하지 않습니다.</p>
          </div>
          <div *ngFor="let history of histories">
            <div class="d-flex justify-content-between" *ngIf="modalTitle === 'LIVE'">
              <div class='history-title' [innerHTML]="history.title | safeHtml"></div>
              <div class='history-title'>{{history.firstView}} </div>
            </div>
            <div *ngIf="modalTitle === 'VOD'">
              <p class='history-title' [innerHTML]="history.categoryName | safeHtml"></p>
              <div class="d-flex justify-content-between" *ngFor="let vod of history.vods">
                <div class="vod-title" [innerHTML]="vod.title"></div>
                <div class="vod-title">{{vod.firstView}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
