// * 게시판 공통 스타일 * //
.board-header {
  .row {
    margin: 0;

    .col {
      padding: 16px;
      color: var(--gray25);
      font-size: 1.3rem;
      font-weight: 600;
      border-bottom: 1px solid var(--gray9);
    }
  }
}

.ngx-pagination {
  padding-left: 0;
}

.board-btn {
  width: 160px;
  height: 38px;
  font-size: 1.2rem;
  color: var(--white);
  background: var(--gray28);
  text-align: center;
  line-height: 38px;
  outline: none;
  cursor: pointer;

  &.navy {
    background: #029380;
  }

  &.red {
    background: var(--red);
  }
}

.board-writer-info {
  .row {
    width: 100%;
    margin: 0;

    .col {
      padding: 4px;
      font-size: 1.1rem;
      color: var(--gray25);
      line-height: 2.5;

      &.label {
        max-width: 75px;
        font-weight: 600;
        line-height: 2.5;
      }

      input {
        width: 95%;
        background: var(--gray7);
        border: none;
        border-radius: 0;
        font-size: 1rem;
        box-shadow: none;
        box-sizing: content-box;
      }
    }
  }
}

// * 게시판 리스트 스타일 * //

.search-wrapper {
  position: relative;

  .select-box {
    position: absolute;
    top: 0;
    left: 0;
  }

  .search-input {
    position: absolute;
    top: 0;
    right: 96px;
  }

  .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
    font-size: 1.2rem;
    background: var(--gray29);
  }
}

.board-list {
  .board-item {
    margin-bottom: 30px;

    .row {
      margin: 0;
      background: var(--white);
      border-bottom: 1px solid var(--gray22);
      outline: none;
      cursor: pointer;

      .col {
        padding: 16px;
        font-size: 1.2rem;
        font-weight: 600;

        &.writer {
          word-break: break-all;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &.fix {
        background: var(--bg-notice);
      }
    }
  }

  .board-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

}

.content-wrapper.board-list-wrapper {
  margin: 0 40px;
  h2 {
    margin-bottom: 10px;
  }
}


@media(max-width: 767px) {
  .board-header {
    .row {
      .col {
        padding: 12px 8px;
        // font-size: 1.2rem;
      }
    }
  }

  .board-btn {
    width: 130px;
    height: 34px;
    // font-size: 1.1rem;
    line-height: 34px;
  }

  .content-wrapper.board-list-wrapper {
    padding: 40px 0 80px;
  }

  

  .board-list {
    .board-header {
      .row {
        .col {
          padding: 12px 8px;
          // font-size: 1.2rem;
        }
      }
    }

    .board-item {
      .row {
        .col {
          padding: 12px 8px;
          // font-size: 1.1rem;
        }
      }
    }

  }
}
@media(max-width: 575px) {
  .board-header {
    .row {
      .col {
        padding: 8px 4px;
      }
    }
  }

  .search-wrapper {
    .search-input {
      width: calc(100% - 88px);
      top: 44px;
      right: 88px;
    }

    .search-btn {
      top: 44px;
      height: 36px;
    }
  }

  .board-list {
    .board-header {
      .row {
        .col {
          padding: 8px 4px;
          // font-size: 1.1rem;
        }
      }
    }

    .board-item {
      .row {
        .col {
          padding: 8px 4px;
          // font-size: 1.1rem;
        }
      }
    }

    .board-btn-wrapper {
      margin-top: 20px;
    }
  }
}
