<div class="content-body">
  <!-- Banner Of MainPage -->
  <app-main-banner-slider *ngIf="mainBanners.length; else DefaultBanner" [banners]="mainBanners">
  </app-main-banner-slider>
  <ng-template #DefaultBanner>
    <app-banner></app-banner>
  </ng-template>

  <!-- Welcome Message   -->
  <section *ngIf="event && showAbout" class="component-margin-bottom-lg">
    <app-about [isPage]="false" [description]="event.description"></app-about>
  </section>

  <!-- Program (Time table) -->
  <section *ngIf="showProgram" class="component-margin-bottom-lg">
    <app-program [isPage]="false"></app-program>
  </section>

  <!-- Speaker -->
  <section *ngIf="showSpeaker" class="component-margin-bottom-lg">
    <!-- TODO 발표자 카드 슬라이더 -->
    <app-speaker-slider></app-speaker-slider>
  </section>

</div>

<!-- 서버점검 출력 모달 -->
<div class="modal fade" tabindex="-1" id="modal-maintenance-alert">
  <div class="modal-dialog modal-dialog-centered" id="modal-maintenance-alert-css">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">알림</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          원활한 행사를 위해 시스템 점검중입니다.
        </p>
        <p>
          해당 시간에 접속이 원활하지 않을 수 있습니다.<br>
          이 점 양해 부탁드립니다.
        </p>
        <p>
          점검시간: 15:00 ~ 18:00
        </p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal"
          data-target="#modal-maintenance-alert">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
