.survey-wrapper {
  .btns-wrapper {
    margin-bottom: 50px;
    gap: 14px;

    @media screen and (max-width: 650px) {
      & {
        flex-direction: column;
        align-items: center;
      }
    }

    button {
      width: 260px;
      min-height: 70px;
      border-radius: 10px;
      font-size: 22px;
      font-weight: 600;

      @media screen and (max-width: 750px) {
        & {
          font-size: 18px;
        }
      }

      @media screen and (max-width: 630px) {
        & {
          font-size: 16px;
        }
      }


    }

    .btn1 {
      background: #FFFCF4;
      border: 1px solid #F0D47C;

      a {
        color: #DF8D11;
      }
    }

    .btn2 {
      background: #F3FFFC;
      border: 1px solid #B0DBD2;

      a {
        color: #14A580;
      }
    }

    .btn3 {
      background: #EFF6FF;
      border: 1px solid #AECDF5;

      a {
        color: #4476B5;
      }
    }

  }
}
