<div class="survey-wrapper is-page max-1400">
  <div class="content-wrapper">
    <div class="m-auto">
      <div class="title-wrapper">
        <h2>설문조사</h2>
      </div>
    </div>
    <article>
      <div class="btns-wrapper d-flex justify-content-center">
        <button class="btn1"><a href="https://forms.gle/XB9kdXDrZGBGNy6a8" target="_blank">제35차 대한당뇨병학회<br>춘계학술대회 설문조사</a></button>
        <button class="btn2"><a href="https://naver.me/Fx4WjM9g" target="_blank">Diabetes Fact Sheet<br> in Korea 2022<br>콘텐츠
            공모전</a></button>
        <button class="btn3"><a href="https://forms.gle/y9MVtz6J9jq8bLPq5" target="_blank">E-Newsletter<br>만족도
            설문</a></button>
      </div>

    </article>
  </div>
</div>
