article {
  margin: 0 auto;
  margin-bottom: 48px;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.title-wrapper {
  padding-bottom: 16px;

  h2 {
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  .sub-text {
    font-size: 1.6rem;
  }
}

.modal.detail-modal .modal-content .modal-body {
  overflow: auto;

  /*modalcontent*/

  figure.speakers {
    text-align: center;
    margin: 0;

    .photo {
      background-color: #F8F8F8;
      margin: 30px 80px;
      padding: 26px 30px;
      border-top: 2px solid #E2E2E2;
      border-bottom: 2px solid #E2E2E2;
      display: flex;
    }

    figcaption {
      border-radius: 12px;
      padding: 0;
      background: var(--white);
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .image-wrapper {
    width: 142px;
    height: 148px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .item-info {
    text-align: left;
    margin-left: 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .item-name {
      margin-bottom: 12px;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
    }

    .item-company {
      font-size: 1.3rem;
    }

    span {
          padding: 6px 8px;
          margin-right: 3px;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 600;
      }

      .badge-chair {
          background-color: #FFEBAA;
          color: #AA910F;
      }
      .badge-speaker {
          background-color: #D0FBF1;
          color: #14A580;
      }
      .badge-panel {
          background-color: #CDE4FF;
          color: #4476B5;
      }

  }
}


/* 모달 스타일 */
@media (min-width: 1200px) {
  .modal-xl {
      max-width: 960px;
  }
}

.modal-content {
  border: 0;
  border-radius: 20px;
}

.speaker-header {
  padding: 20px 20px 0 20px;
  text-align: right;

  .category-name {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
  }

  img {
    width: 21px;
    height: 21px;

    cursor: pointer;
  }
}

.speaker-modal-tabs-header {
  justify-content: center;
  border-bottom: 2px solid #E2E2E2;

  .nav-link {
    width: 160px;
    text-align: center;
    padding: 0 0 14px 0;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0s;
    color: #7A7A7A;
    
    &.active, &:hover {
      border: 0;
      color: #029380;
      border-bottom: 2px solid #029380;
    }
  }
}

.speaker-modal-tabs-content {
  background: #F9F9F9;
  border-radius: 12px;
  padding-bottom: 20px;

  .cv-abstract-content {
    padding: 40px 80px;

    height: 372px;
    overflow-y: auto;

    .cv-abstract-wrapper {
      padding: 20px 60px;
      font-size: 1.3rem;
      font-weight: 400;

      border-bottom: 2px solid #E8E8E8;

      &:last-child {
        border: 0;
      }

      .file-name {
        color: #5066ED;
        text-decoration: underline;
        position: relative;

        &::before {
          content: url(../../../assets/icons/abstract_clip_icon.svg);
          width: 14px;
          position: absolute;
          left: -24px;
          top: 2px;
        }
      }
    }
  }

  .lecture-content {
    padding: 40px 80px;

    height: 372px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #6BCFB7;
      border-radius: 30px;
    }
    &::-webkit-scrollbar-track {
      background-color: #E6E6E6;
    }

    .lecture-wrapper {
      width: 100%;
      padding: 22px 24px;
      margin-bottom: 10px;
      background-color: #fff;
      border: 2px solid transparent;
      border-radius: 12px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);

      display: flex;
      align-items: center;

      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #EFF8F6;
        border: 2px solid #029380;

        .play-icon {
          background-color: #fff;
        }
      }

      .play-icon {
        width: 76px;
        height: 76px;
        background-color: #F5F5F5;
        border-radius: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 20px;
        }
      }

      .lecture-infomation {
        padding-left: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        flex: 1 1;

        .session-name {
          color: #404040;
          font-size: 1.4rem;
          font-weight: 600;
          margin-bottom: 6px;
        }

        .lecture-name {
          color: #404040;
          font-size: 1.4rem;
          // font-weight: 600;
          margin-bottom: 6px;
        }

        .lecture-addition {
          font-size: 1.3rem;
          color: #8D8D8D;

          display: flex;
          align-items: center;

          .room-number {

          }
          .vertical-bar {
            display: block;
            width: 1px;
            height: 14px;
            margin: 0 8px;
            background-color: #B8B8B8;
          }
          .lecture-date {

          }
        }
      }
    }
  }
}