<div class="speakers-wrapper is-page max-1400">
  <ng-container *ngFor="let speakerCategory of speakerCategories">
    <ng-container *ngIf="speakerCategory.speakers && speakerCategory.speakers.length">
      <div class="title-wrapper" *ngIf="speakerCategory.speakers && speakerCategory.speakers.length">
        <h2>{{speakerCategory.categoryName}}</h2>
      </div>
      <article>
        <div class="list-wrapper">
          <div *ngFor="let speaker of speakerCategory.speakers">
            <app-speaker [speaker]="speaker" (speakerDetailFn)="getDetail($event, speakerCategory.categoryName)">
            </app-speaker>
          </div>
        </div>
      </article>
    </ng-container>
  </ng-container>
</div>

<!-- 발표자 모달 -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="speaker-header">
        <img src="../../../assets/icons/close-modal-icon.svg" alt="X" data-dismiss="modal" aria-label="Close">
        <div class="category-name">{{speakerCategory}}</div>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'"
                alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name" [innerHTML]="speakerDetail.fullName"></p>
              <p class="item-company" [innerHTML]="speakerDetail.company"></p>
              <div class="d-flex flex-wrap">
                <span class="badge-chair" *ngIf="speakerRoles['chairman']">Chair</span>
                <span class="badge-speaker" *ngIf="speakerRoles['speaker']">Speaker</span>
                <span class="badge-panel" *ngIf="speakerRoles['panel']">Panel</span>
              </div>
            </div>
          </div>
          <figcaption>
            <!-- 탭 헤더 -->
            <ul class="nav nav-tabs speaker-modal-tabs-header" id="speakerModalTabs" role="tablist">
              <li class="nav-item" role="presentation" [ngClass]="{'d-none': isOnlyPanel}">
                <a class="nav-link" id="cv-abstract-tab" data-toggle="tab" href="#cvAbstract" role="tab"
                  aria-controls="cv-abstract" aria-selected="true" [ngClass]="{'active': !isOnlyPanel}">CV &
                  Abstract</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="lecture-tab" data-toggle="tab" href="#lecture" role="tab"
                  aria-controls="lecture" aria-selected="false" [ngClass]="{'active': isOnlyPanel}">Lecture</a>
              </li>
            </ul>
            <!-- 탭 콘텐츠 -->
            <div class="tab-content speaker-modal-tabs-content" id="speakerModalTabContent">

              <div class="tab-pane fade cv-abstract-content" id="cvAbstract" role="tabpanel"
                aria-labelledby="cv-abstract-tab" [ngClass]="{'active show': !isOnlyPanel}">

                <div class="cv-abstract-wrapper" *ngIf="speakerDetail.CV && !speakerDetail.isCustom">
                  <a class="file-name" [href]="speakerDetail?.CV" target="_blank">Curriculum Vitae</a>
                  <span>Click the link to view the curriculum in more detail.</span>
                </div>

                <div class="cv-abstract-wrapper" *ngIf="speakerDetail.CV && speakerDetail.isCustom">
                  <a class="file-name" [href]="speakerDetail?.CV" target="_blank">{{speakerDetail.filename1}}</a>
                  <span>Click the link to view the curriculum in more detail.</span>
                </div>

                <div class="cv-abstract-wrapper" *ngIf="speakerDetail.abstract && !speakerDetail.isCustom">
                  <a class="file-name" [href]="speakerDetail?.abstract" target="_blank">Abstract</a>
                  <span>Click the link to view the curriculum in more detail.</span>
                </div>

                <div class="cv-abstract-wrapper" *ngIf="speakerDetail.abstract && speakerDetail.isCustom">
                  <a class="file-name" [href]="speakerDetail?.abstract" target="_blank">{{speakerDetail.filename2}}</a>
                  <span>Click the link to view the curriculum in more detail.</span>
                </div>

              </div>

              <div class="tab-pane fade lecture-content" id="lecture" role="tabpanel" aria-labelledby="lecture-tab"
                [ngClass]="{'active show': isOnlyPanel}">

                <ng-container *ngFor="let lecture of speakerDetail.agenda">
                  <div class="lecture-wrapper" *ngIf="!lecture.isSession" (click)="routeLecture(lecture)">
                    <div class="play-icon">
                      <img src="../../../assets/icons/lecture_play_icon.svg">
                    </div>
                    <div class="lecture-infomation">
                      <div class="session-name" [innerHTML]="lecture.parentAgenda?lecture.parentAgenda.subTitle:''">
                      </div>
                      <div class="lecture-name" [innerHTML]="lecture.isSession?lecture.subTitle:lecture.title"></div>
                      <div class="lecture-addition">
                        <span class="room-number">{{lecture.room.roomName}}</span>
                        <span class="vertical-bar"></span>
                        <span class="lecture-date">{{lecture.date.date}}</span>
                      </div>
                    </div>
                  </div>
                </ng-container>
              

              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
