<div class="session-wrapper" *ngIf="session" [ngClass]="{'is-live' : true}">
  <div class="content-inner session-item" [ngClass]="{'active':session.isDetail}"
    (click)="session.isDetail?detailFn.emit(session):''">
    <div class="lt">
      <div class="title">
        <span *ngIf="session.title">{{session.title}}</span>
      </div>
      <div class="live" *ngIf="isLive">ON AIR</div>
      <div class="rateable">
        {{session.isRateable?'RATING':''}}
      </div>
    </div>
    <div class="rt">
      <div class="category" *ngIf="session.category">
        {{session.category.categoryName}}
      </div>

      <div class="room" *ngIf="session.room">
        <span *ngIf="session.track && session.track.trackName">{{session.track.trackName}}</span>
      </div>

      <div class="sub-title" *ngIf="session.subTitle" [innerHTML]="session.subTitle"
        [ngClass]="{'active':session.isDetail}">
      </div>

      <div class="description" *ngIf="session.description" [innerHTML]="session.description">
      </div>

      <div class="organizers" *ngIf="session.speakers && session.speakers.length">
        <div class="d-flex organizers-list" [ngStyle]="{'gap': session.id === '626f310c9ad5c3001221f814'?0:'16px'}">
          <div>
            <ng-container *ngIf="session.id !== '626f310c9ad5c3001221f814'">
              {{ session.speakers.length>1?"Chairs":"Chair"}}:
            </ng-container>
          </div>
          <div>
            <div *ngFor="let speaker of session.speakers;let i = index">
              {{speaker.fullName}} ({{speaker.company}})
            </div>
          </div>
        </div>
      </div>

      <div class="lectures" *ngIf="session.lectures && session.lectures.length">
        <app-program-vod *ngFor="let lecture of session.lectures" [vod]="lecture"></app-program-vod>
      </div>

    </div>
  </div>
</div>
