.agenda-wrapper {
  border-bottom: 1px solid var(--gray26);
  background: var(--gray8);

  &.is-detail {
    cursor: pointer;
  }

  // cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    .go-detail {
      background: #029380;
      transition: all 0.5s;
    }
  }

  &.is-live {
    // background: #02938030;
    background: #0293801c;
  }

  .agenda-item {
    display: flex;

    .lt {
      padding: 32px 0;
      width: 160px;
      height: 100%;
      text-align: center;

      .time {
        padding-left: 8px;
        color: #5e6269;
        border-bottom: 1px solid var(--gray26);
        font-size: 1.5rem;
      }

      .live {
        padding: 8px;
        color: var(--red);
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 800;
      }
    }

    .rt {
      padding: 16px;
      padding-right: 32px;
      width: calc(100% - 160px);
      min-height: 100%;
      border-left: 1px solid var(--gray26);

      &>div {
        margin-bottom: 12px;
      }

      .category {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .room {
        font-size: 1.3rem;
        color: var(--gray13);
      }

      .title h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #5e6269;
      }

      .chair,
      .organizers {
        position: relative;
        font-size: 1.4rem;
        color: #5e6269;

        .organizers-fullName {
          font-weight: 700;
        }
      }

      .description {
        margin-bottom: 16px;
        font-size: 1.2rem;
        color: var(--gray16);
        line-height: 1.5rem;
      }

      .go-detail {
        width: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;

      }
    }
  }
}

@media screen and (max-width : 767px) {
  .agenda-wrapper {
    .agenda-item {
      flex-wrap: wrap;

      .lt,
      .rt {
        width: 100%;
      }

      .lt {
        padding: 32px 0 0 0;

        .time {
          // max-width: 150px;
        }
      }

      .rt {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
  }
}
