<div class="agenda-wrapper" *ngIf="agenda" [ngClass]="{'is-live': isLive, 'is-detail': agenda.contents}">
  <div class="m-auto agenda-item" (click)="agenda.contents ? detailFn.emit(agenda) : ''">
    <div class="lt">
      <div class="time">
        <span *ngIf="agenda.startTime">{{ agenda.startTime }}</span>
        <span *ngIf="agenda.endTime">~{{ agenda.endTime }}</span>
      </div>
      <div class="live" *ngIf="isLive">ON AIR</div>
    </div>
    <div class="rt d-flex align-items-center justify-content-between">
      <div>
        <div class="title" *ngIf="agenda.title">
          <h2 class="m-0" [innerHTML]="agenda.title"></h2>
        </div>
        <div class="chair" *ngIf="agenda.chairs && agenda.chairs.length">
          Chair:
          <span *ngFor="let chair of agenda.chairs; let i = index"> {{ chair.name }}<span *ngIf="agenda.chairs[i + 1]">,</span> </span>
        </div>
        <div class="organizers" *ngIf="agenda.speakers && agenda.speakers.length">
          <span *ngFor="let speaker of agenda.speakers; let i = index">
            <span class="organizers-fullName">{{ speaker.fullName }}</span
            ><br />
            <!-- {{speaker.company+", "+speaker.title}}<span *ngIf="agenda.speakers[i+1]">,</span><br> -->
            {{ speaker.company }}<span *ngIf="agenda.speakers[i + 1]">,</span><br />
          </span>
        </div>

        <div class="description" *ngIf="agenda.description" [innerHTML]="agenda.description"> </div>

        <div class="lectures" *ngIf="agenda.lectures && agenda.lectures.length">
          <app-program-vod *ngFor="let lecture of agenda.lectures" [vod]="lecture"></app-program-vod>
        </div>
      </div>

      <div class="go-detail" *ngIf="agenda.contents">
        <div class="play-icon-wrapper">
          <img src="../../../assets/icons/lecture_play_icon.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
