/* You can add global styles to this file, and also import other style files */
@import "./assets/icon-font.css";

:root {
  --white: #FFF;
  --black: #000;

  --timetable-th-bg: #2d8a71;
  --timetable-th-border: #c0c0c0;
  --timetable-td-border: #e6e6e7;

  --red: #FF0000;
  --pink: #FFE9E2;
  --pink2: #FFD5D2;
  --pink3: #FCCFE3;
  --navy: #355bb7;
  --navy2: #121652;

  --main-color: #355bb7;
  --main-color-active: #182e63;
  --blue1: #003BFF;
  --blue2: #0077FF;
  --blue3: #0089FF;
  --blue4: #0091BE;
  --blue5: #678AFB;
  --blue6: #678AFF;
  --blue7: #68B9FF;
  --blue8: #0053FA;
  --blue9: #017FFB; // 마이페이지
  --blue10: #008ABC;
  --blue11: #c8e4ee;
  --bluegray: #7C8C9B;
  --blue12: #4D87FA;

  --yellow1: #FFE383;
  --yellow2: #FFE600;
  --yellow3: #FEEEA8;

  --orange: #FBDFBF;
  --orange2: #FFAA00;

  --gray: #BFC0C0;
  --gray2: #DFDFDF; // #DCDCDC
  --gray3: #E8EAEA;
  --gray4: #E9EAEA;
  --gray5: #E9F3FF;
  --gray6: #F2F2F2;
  --gray7: #F3F3F3;
  --gray8: #FAFAFA;
  --gray9: #EFEFEF;
  --gray10: #323232;
  --gray11: #6A6A6A;
  --gray12: #6E6E6E;
  --gray13: #787878; // #757575
  --gray14: #8E8E8E;
  --gray15: #808080;

  --gray16: #333;
  --gray17: #666;
  --gray18: #888;
  --gray19: #999;
  --gray20: #AAA;
  --gray21: #DDD;

  --gray22: #E9E9E9;
  --gray23: #565656;
  --gray24: #495057;
  --gray25: #8C8C8C;
  --gray26: #C8C8C8;
  --gray27: #BCBCBC;
  --gray28: #7C8C9B;
  --gray29: #D8D8D8;
  --gray30: #e6e6e7;

  --blue1: #9BD0F0;
  --blue2: #00A2E4;

  // 게시판 - 공지사항 배경색
  --bg-notice: rgb(255, 240, 193);
}

@import './assets/fonts/pretendardvariable.css';

body,
html {
  font-family: MainFont;
  margin: 0;
  height: 100%;
  font-size: 12px;

  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

a,
button {
  border: none;
  background: none;
  outline: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.btn:focus {
  box-shadow: none !important;
}

select::-ms-expand {
  display: none;
}

/* wrapper, inner*/
.content-body {
  width: 100%;
  min-height: calc(100% - 160px);
  // 헤더 높이 + 1px (헤더에 약간 가리는 느낌이 나서)
  padding-top: 157px;
  background: var(--gray1);
  box-sizing: border-box;
}

.max-1400 {
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-height: calc(100% - 160px);
}

// 공통 타이틀박스
.title-wrapper {
  margin-bottom: 50px;
  border-bottom: 1px solid var(--gray9);

  &.center {
    text-align: center;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
  }
}

/* 말줄임 표시 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;

  // 두줄일때
  &.line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }

  // 네줄일때
  &.line-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: normal;
  }
}

/* Iframe */
.iframe-wrapper {
  max-width: 640px;
  min-width: 100%;
  padding: 8px;
  text-align: center;

  p {
    text-align: left;
    word-break: break-all;
  }

  & iframe {
    width: 100%;
    height: auto;
    min-height: 30vh;
  }
}

app-banner-slider {
  width: 100%;
}

/* Search Wrapper */
.search-wrapper {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  .select-box {
    display: inline-block;
    width: 150px;
    height: 40px;
    padding-right: 32px;
    border: 1px solid var(--gray25);
    background: url('/assets/icons/select_arrow.svg');
    background-size: 9px;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  .search-input {
    display: inline-block;
    width: 380px;
    height: 40px;
    margin-left: 16px;
    padding-left: 40px;
    border: 1px solid var(--gray25);
    background: url('/assets/icons/search-icon.svg');
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  @media(max-width: 767px) {
    height: 36px;

    .select-box {
      width: 130px;
      height: 36px;
    }

    .search-input {
      width: 100%;
      max-width: 314px;
      height: 36px;
      padding-left: 40px;
    }
  }

  @media(max-width: 575px) {
    height: 80px;

    .select-box {
      width: 100%;
    }

    .search-input {
      max-width: inherit;
      margin-left: 0;
    }

  }
}

/* 공통 스타일 클래스 */
.p-0-32 {
  padding: 0 32px;
}

.is-page {
  padding-top: 170px;
}

.component-margin-bottom-lg {
  margin-bottom: 30px;
}

.not-drag {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}


.modal-header .close {
  &:focus {
    outline: none !important; // 모달 상단 닫기(x)버튼 클릭 시 테두리 제거
  }
}

/* 툴팁 */
.poster-tooltip {
  font-size: 1.1rem;

  .arrow {
    color: #404040;
  }

  span {
    color: #404040;
    background-color: white;
    border: 1px solid #404040;
    border-radius: 4px 4px 0 0;
  }

  .tooltip-inner {
    color: #404040;
    background-color: white;
    border: 1px solid #404040;
  }
}
