<div class="banners-slider-wrapper" *ngIf="banners.length && !isMobile">
  <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
  <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="4" [animationSpeed]="5"
    [images]="banners" [imageSize]="{width: '100%', height: 400, space: 0 }" [manageImageRatio]="false"
    [showArrow]="false" (imageClick)="imageClick($event)">
  </ng-image-slider>
  <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
</div>

<div class="banners-slider-wrapper" *ngIf="mobileBanners.length && isMobile">
  <div class="banners-btn banners-prev" (click)="slidePrev('bannerSliderMobile')">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
  <ng-image-slider #bannerSliderMobile [infinite]="true" [imagePopup]="false" [autoSlide]="4" [animationSpeed]="5"
    [images]="mobileBanners" [imageSize]="{width: '100%', height: 500, space: 0 }" [manageImageRatio]="true"
    [showArrow]="false" (imageClick)="imageClick($event)">
  </ng-image-slider>
  <div class="banners-btn banners-next" (click)="slideNext('bannerSliderMobile')">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
</div>
