.banners-slider-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 32px;

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;

    &.banners-prev {
      z-index: 1;
      left: 0;

      img {
        transform: rotate(-90deg);

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  ng-image-slider {
    img {
      height: auto !important;
      border: 1px solid var(--gray9);
    }
  }
}
