<div class="banners-wrapper" *ngIf="banners.length > 0" [ngStyle]="{'max-width': maxWidth}"
  [ngClass]="{'enable-arrow': canMove}">
  <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')" *ngIf="canMove">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
  <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="autoSlide" [animationSpeed]="2"
    [images]="banners" [imageSize]="{ width: 150, height: 50, space: 14 }" [manageImageRatio]="true" [showArrow]="false"
    (imageClick)="imageClick($event)">
  </ng-image-slider>
  <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')" *ngIf="canMove">
    <img src="assets/img/ic_dropdown_class_up.png">
  </div>
</div>
