<div class="content-body">
  <app-program-nav
    [dates]="dates"
    [rooms]="rooms"
    [selected]="selected"
    (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"
  ></app-program-nav>

  <div class="content-inner live-inner">
    <div class="live-player" *ngIf="live && showPlayer">
      <!-- ! YOUTUBE / Ustream -->
      <ng-container *ngIf="live.provider === 'youtube' || live.provider === 'ibm'">
        <app-player-youtube-ibm
          [content]="live"
          [isLive]="true"
          [selected]="selected"
          (checkIsLastSession)="checkIsLastSession($event)"
          [agendas]="agendas"
        ></app-player-youtube-ibm>
      </ng-container>

      <!-- TODO Vimeo -->
      <!-- <app-player *ngIf="live.provider === 'vimeo'" [content]="live" [isLive]="true" [selected]="selected"
        [bannersLiveChat]="bannersLiveChat" (checkIsLastSession)="checkIsLastSession($event)" [agendas]="agendas">
      </app-player> -->
    </div>
  </div>

  <div class="program-list">
    <div class="mb-3" style="font-size: 20px; text-align: center; color: #029380"><b>5월 30일(월) 부터 6월 30일(목)</b>까지 재방송에 동의하신 연자분들의 강의만 공개됩니다.</div>
    <div class="m-auto p-0">
      <div class="btn-collapse-wrapper d-flex justify-content-between" data-toggle="collapse" href="#collapse_agenda_list" role="button" aria-expanded="true">
        <ng-container *ngIf="currentSession; else ContainerTemplate">
          <div class="header-live-session d-flex">
            <div class="live">ON AIR</div>
            <div class="session-time" [innerHTML]="currentSession.title"></div>
            <div class="session-title" [innerHTML]="currentSession.subTitle"></div>
          </div>
        </ng-container>
        <ng-template #ContainerTemplate>
          <div></div>
        </ng-template>
        <div>
          <div class="btn-program">
            Program&nbsp;&nbsp;
            <img src="assets/img/ic_dropdown_class_up.png" />
          </div>
        </div>
      </div>
    </div>

    <!-- Agendas 강의 목록 -->
    <div class="program-agendas collapse show" id="collapse_agenda_list">
      <div class="content-inner p-0">
        <div *ngFor="let agenda of agendas">
          <div *ngIf="agenda.isSession; else isAgenda">
            <app-session [session]="agenda" (sendLive)="sendLive($event)" (detailFn)="goDetail($event)"></app-session>
          </div>
          <ng-template #isAgenda>
            <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)"> </app-agenda>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Entry modal -->
<!-- <div class="modal fade" id="modal-entry-alert" data-backdrop="static" role="dialog"
  data-keyboard="true" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          알림
        </div>
        <div class="modal-description">
          <p class="text-center" style="color:yellow;">
            입장하시겠습니까?
          </p>
        </div>
        <div class="modal-footer in-out">
          <button type="button" class="btn btn-primary" [ngClass]="getAttendance()" data-toggle="modal"
            data-target="#modal-entry-alert" (click)="atndnCheck()">
            {{getAttendance() === 'in' ?'확인':'Exit'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="modal-entry-alert" data-backdrop="static" role="dialog" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="attendModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">출결 체크 안내</h5>
      </div>
      <div class="modal-body">
        <p>평점 취득을 위해 입장 시간을 반드시 남겨주세요!</p>
        <p>※ 퇴장시간은 듣고 계시는 강의 페이지를 벗어나시면 자동으로 기록됩니다. 강연 이외의 시간 제외하고 입, 퇴장 시간이 누적되어 최종 평점에 반영됩니다. </p>
        <hr />
        <p> 아래 [입장] 버튼을 클릭하시면, 입장 시간이 기록됩니다. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [ngClass]="getAttendance()" data-toggle="modal" data-target="#modal-entry-alert" (click)="atndnCheck()">
          {{ getAttendance() === 'in' ? '입장' : 'Exit' }}
        </button>
      </div>
    </div>
  </div>
</div>
