.live-inner {
  padding: 0 16px;
  max-width: none !important;
}

.program-list {
  padding: 0 16px;

  .header-live-session {
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;

    .live {
      color: red;
    }

    .session-time {}

    .session-title {
      p {
        margin: 0;
      }
    }
  }


  .btn-collapse-wrapper {
    align-items: center;
    height: 80px;
    margin-bottom: 32px;
    background: var(--gray3);

    img {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
      background: var(--gray14);
      transition: all .3s ease;
    }

    padding:2px 43px;

    .btn-program {
      font-size: 18px;
      font-weight: 700;
      margin-right: 15px;
    }
  }

  .program-agendas {
    padding-bottom: 40px;
  }
}

#attendModal {
  font-size: 18px;

  .modal-header {
    .modal-title {
      font-size: 18px !important;
      font-weight: bold;
    }
  }

  .modal-header {
    font-size: 18px;
    padding: 2.5rem !important;
  }

  .modal-body {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }

  .modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;

    button {
      width: 160px;
      font-size: 18px;
      background: #029380;
      border-color: #029380;
    }

    padding-bottom:2.5rem;

  }


}
