<div class="content-body">
  <div class="content-inner" *ngIf="agenda && agenda.contents">
    <app-player [content]="agenda.contents"></app-player>
  </div>

  <!-- Agenda -->
  <div class="agenda" *ngIf="agenda && !agenda.isSession">
    <app-agenda [agenda]="agenda"></app-agenda>
  </div>

  <!-- Session-->
  <div class="agenda" *ngIf="agenda && agenda.isSession">
    <app-session [session]="agenda"></app-session>
  </div>

  <div class="back-to-list">
    <button (click)="setAgendaList(selected.date, selected.room)" style="background: #029380">BACK TO LIST</button>
  </div>
</div>
